<% provide(:title, '承認画面') %>
<br />
<div class="container" width="80%">
	<h3>TC1・経費承認</h3>	
	対象年月：
	<%= select :approval, :tcindex, 
				options_for_select(@tc_index.pluck(:target_month),selected: @target),{}, onchange: "test('#{approval_path}')" %>
</div>
<br />

<div class="container">
	<table class="my_table">
		<thead>
			<tr>
				<th width="30%" rowspan=2>名前</th>
				<th width="35%" colspan=2>TC</th>
				<th width="35%" colspan=2>経費</th>
			</tr>
			<tr>
				<th>状況</th>
				<th>アクション</th>
				<th>状況</th>
				<th>アクション</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
				<%= render 'approval_sub', u: u %>
			<% end %>
		</tbody>
	</table>
	
	<div class="row">
		<div class="col-md-2 offset-md-10">
			<%= link_to "戻る", home_path, class:"btn btn-primary" %>
		</div>
	</div>
</div>
