<% provide(:title, '承認画面') %>

<table width="80%" align="center">
	<tr>
		<td>
			<%= select :approval, :tcindex, 
				options_for_select(@tc_index.pluck(:target_month),selected: @target),{}, onchange: "test('#{approval_path}')" %>
		</td>
	</tr>
</table>
<br />
<table border=1 width="80%" align="center">
<tr bgcolor="gray" >
	<th width="50%" style="text-align: center">名前</th>
	<th width="20%" style="text-align: center">状況</th>
	<th width="30%" style="text-align: center">アクション</th>
</tr>
<% @users.each do |u| %>
	<%= render 'approval_sub', u: u %>
<% end %>
</table>
