<script>
  $('.dropdown-toggle').dropdown()
</script>

<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
<header>
  <nav class="navbar navbar-dark bg-dark">
	  <%= link_to "社内システム", root_path, class:"navbar-brand" %>
	    
    <% if logged_in? %>
    	<div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          アカウント
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<%= link_to "社員情報", current_user,class:"dropdown-item" %>
        	<div class="dropdown-divider"></div>
          <%= link_to "ログアウト", logout_path, method: :delete,class:"dropdown-item" %>
        </div>
      </div>
    <% end %>
	</nav>
</header>